{%extends "base/cocpage.html"%}
{%load pgfilters%}
{%block title%}Code of Conduct Committee{%endblock%}
{%block cocmain%}

<h1>Code of Conduct Committee <i class="fas fa-users"></i></h1>

<p><em>Last updated: December 1, 2023. {%git_changes_link%}</em></p>

<h3>Contact</h3>

<p>
  You can contact the <a href="/about/policies/coc/">Code of Conduct</a>
  Committee at <a href="mailto:coc@postgresql.org">coc@postgresql.org</a>.
</p>

<h3>Current Members</h3>

<table class="table table-striped cocc-table">
  <tbody>
    <tr>
      <td>Eliza Bennett (Chair)</td>
      <td>
        Eliza Bennett has no formal PostgreSQL or tech experience, but she has
        over twenty years of international experience working in large, complex,
        and diverse organizations in the communications, engagement, HR
        management, and customer service fields. As a member of the LGBTQ
        community, she is passionate about engaging in initiatives that promote
        fair, inclusive, and supportive environments for all. She is Australian,
        grew up in France, and has worked with municipal governments in Ontario,
        Canada, for the last 20 years leading communications and advocacy
        functions.
      </td>
    </tr>
    <tr>
      <td>Aleksandra Abramova</td>
      <td>
        Aleksandra Abramova is a Community Specialist at Percona. She focuses on
        growing open source communities and making them accessible to different
        kinds of contributors. Her inspiration is supporting women in the tech
        industry and in their lives, and promoting diversity.
      </td>
    </tr>
    <tr>
      <td>Anthony Nowocien</td>
      <td>
        Anthony Nowocien is a PostgreSQL DBA at Société Générale and lives in
        Paris, France. He is the secretary of the PostgreSQL FR association.
        He has co-organized several pgday.fr events, making this event a
        community-recognized one, including work on its Code Of Conduct.
      </td>
    </tr>
    <tr>
      <td>Chris Travers</td>
      <td>
        Chris Travers has 25 years of experience with PostgreSQL in many roles
        from DBA to developer and is active on commitfiests.
        He also actively presents at conferences around the world.  He is deeply
        committed to helping expand Postgres worldwide.  He has been involved in
        leading other open source software projects through the years, including
        LedgerSMB which he helped found. He currently lives in Indonesia for
        family reasons and believes in helping ensure that the PostgreSQL
        community and we can come together across diverse cultural and other
        backgrounds in our community to build the economic commons that
        economically support so many of us.
      </td>
    </tr>
    <tr>
      <td>Sergei Kim</td>
      <td>
        Sergei Kim is passionate about Architecting the Future. As a Solutions
        Architect at EPAM, he specializes in crafting innovative solutions that
        bridge the gap between vision and reality. Nestled in the picturesque
        Netherlands, he's made it his mission to design and develop
        cutting-edge, distributed, and highly-loaded systems that pave the way
        for tomorrow's digital landscape.
      </td>
    </tr>
    <tr>
      <td>Simon Pane</td>
      <td>
        Simon Pane works as a Principal Consultant for Pythian, specializing in
        PostgreSQL and Oracle on-premises and in the cloud.  Simon is located in
        Canada and has been working with relational databases for over 25 years.
        As well as having been heavily involved in the community as a regular
        presenter and blogger, he is a past user-group Board Director and has
        served as a volunteer member of several formal industry and community
        Advisory Boards.
      </td>
    </tr>
  </tbody>
</table>

<h3>Past Members</h3>

<ul>
  <li>Anastasia Lubennikova (2020&ndash;2022)</li>
  <li>Carole Arnaud (2019&ndash;2021)</li>
  <li>Fábio Telles Rodriguez (2020&ndash;2021)</li>
  <li>Ilaria Battiston (2021&ndash;2023)</li>
  <li>Ilya Kosmodemiansky (2018&ndash;2020)</li>
  <li>Jeanette Bromage (2020&ndash;2022)</li>
  <li>Jonathan Katz (2018&ndash;2020)</li>
  <li>L&aelig;titia Avrot (2018&ndash;2019)</li>
  <li>Lucie Šimečková (2021&ndash;2024)</li>
  <li>Michael Goldberg (2020&ndash;2023; Chair, 2022&ndash;2023)</li>
  <li>Stacey Haysler (Chair, 2018&ndash;2021)</li>
  <li>Stefan Fercot (2021&ndash;2023)</li>
  <li>Umair Shahid (2019&ndash;2022; Chair, 2021&ndash;2022)</li>
  <li>Vik Fearing (2018&ndash;2019)</li>
</ul>

{%endblock%}
